In [1]:
import os as os
import pandas as pd

In [7]:
dirr = r'C:\Users\piyush.pathak\Desktop\age prediction\input\train'
os.chdir(dirr)
all_images = os.listdir()
print( 'Total Images : ' ,len(all_images))

Total Images :  8255

In [8]:
df = pd.DataFrame(columns = ['File_name', 'Age'])
df

Empty DataFrame
Columns: [File_name, Age]
Index: []

In [9]:
for i in range(len(all_images)):
  filename = str(all_images[i])
  temp = filename.split('_')[0]
  row = [filename,temp]
  df.loc[len(df)] = row

In [10]:
df

                                   File_name  Age
0     100_1_0_20170110183726390.jpg.chip.jpg  100
1     100_1_2_20170105174847679.jpg.chip.jpg  100
2     101_1_2_20170105174739309.jpg.chip.jpg  101
3      10_0_0_20161220222308131.jpg.chip.jpg   10
4      10_0_0_20170103200329407.jpg.chip.jpg   10
...                                      ...  ...
8250    9_1_3_20161220222856346.jpg.chip.jpg    9
8251    9_1_3_20170104222949455.jpg.chip.jpg    9
8252    9_1_4_20170103200637399.jpg.chip.jpg    9
8253    9_1_4_20170103200814791.jpg.chip.jpg    9
8254    9_1_4_20170103213057382.jpg.chip.jpg    9

[8255 rows x 2 columns]

In [11]:
df.to_csv("train.csv", index=False)